* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    text-align: center;
    margin: 20px 0;
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-style: light;
}

